.nav-container {
    display: flex;
    flex-direction: row;
    background-color: yellow;
}

.nav {
    margin: 1em;
    margin-bottom: 2em;
}

.nav-main {
    width: 60%;
}

.nav-side {
    width: 20%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

.nav-element {
    padding: 1em;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.logout {
    margin-top: 2em;
    cursor: pointer;
}
